* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------- text ---------- */
.date {
    font-size: 25px;
    color: gray;
}
.title {
    padding-top: 10px;
}

/* ---------- header ---------- */
#header-container {
    height: 200px;
    width: 100%;
    text-align: center;
    background-image: url(../img/wall.png);
}
#header-title {
    padding-top: 40px;
    font-size: 100px;
}

/* ---------- photos ---------- */
#photo-container {
    margin-left: 10%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    width: 80%;
}
.photo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 440px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pin {
    position: absolute;
    top: -6;
}
.img {
    height: 310px;
    width: 310px;
    margin-top: 20px;
}
#main {
    background-image: url(../img/cork.png);
    width: 100%;
    height: 85vh;
    
}
.photo-text {
    width: 310px;
    height: 90px;
}

/* ---------- overlay ---------- */
.overlay-container {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.624);
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overlay-image {
    height: 800px;
    width: 800px;
    border: 1px solid;
    background-color: rgb(0, 0, 0);
}
#button {
    font-size: 40px;
    margin-top: 80%;
    margin-bottom: 50%;
    height: 60px;
    width: 150px;
    border: 1px solid;
    background-color: #fdfdfd; 
    cursor: pointer;
}
.d-none {
    display: none;
}