* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
/* ---------- text ---------- */
.date {
    font-size: 25px;
    color: gray;
}
.title {
    padding-top: 10px;
}
/* ---------- header ---------- */
#header-container {
    height: 200px;
    width: 100%;
    text-align: center;
    background-image: url(../img/wall.png);
}
#header-title {
    padding-top: 40px;
    font-size: 100px;
}
/* ---------- photos ---------- */
#photo-container {
    margin-left: 10%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    width: 80%;
}
.photo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 440px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pin {
    position: absolute;
    top: -6;
    
}
.img {
    height: 310px;
    width: 310px;
    margin-top: 20px;
}
#main {
    background-image: url(../img/cork.png);
    width: 100%;
    height: 300%;
}
.photo-text {
    width: 310px;
    height: 90px;
}
